.rating-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 6px;
}

.star-icon {
  font-size: 28px;
  color: #ffb400; /* Zomato-style gold */
  cursor: pointer;
}