.list-container {
  padding: 8px 0;
}

ios ion-item h3,
md ion-item h3 {
  margin: 0 0 4px;
}

.doctor-actions {
  margin-top: 16px;
  padding: 0 16px;
}

:host ion-content {
  --background: #eaf5ff;
}

.appointment-item {
  ion-label {
    display: flex;
    flex-direction: column;
  }

  .button-row {
    display: flex;
    gap: 8px;
    margin-top: 6px;
  }

  .complete-row {
    margin-top: 6px;
  }
}
