.list-container {
  padding: 8px 0;
}

ios ion-item h3,
md ion-item h3 {
  margin: 0 0 4px;
}

.doctor-actions {
  margin-top: 16px;
  padding: 0 16px;
}

:host ion-content {
  --background: #eaf5ff;
}